@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #555;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    text-align: center;
}

a {
    color: #2277EE;
    font-size: 1.4em;
    margin: 10px;
}

.bad-end {
    color: #FF4422;
    font-size: 1.4em;
    margin: 10px;
}

.invisible {
    display: none;
}

.medium-end {
    color: #DD3388;
    font-size: 1.4em;
    margin: 10px;
}

.good-end {
    color: #003399;
    font-size: 1.4em;
    margin: 10px;
}

p {
    font-size: 1.3em;
}

input {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1.6em;
}

.page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px 200px;
    padding: 50px;
}